<nav class="top-navbar">
  <div class="nav-left">
    <button class="hamburger-btn" (click)="onToggleMenu()">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <line x1="3" y1="12" x2="21" y2="12"></line>
        <line x1="3" y1="6" x2="21" y2="6"></line>
        <line x1="3" y1="18" x2="21" y2="18"></line>
      </svg>
    </button>
    <div class="nav-brand">
      <span class="brand-logo">📦</span>
      <span class="brand-text">ALLSY</span>
    </div>
  </div>

  <!-- <div class="nav-actions">
    <button routerLink="/new" class="btn-primary-sm">
      + Nuevo Producto
    </button>
    <button routerLink="/venta-create" class="btn-outline-sm">
      Registrar venta
    </button>
    
    <div class="divider"></div>
    
    <button (click)="logout()" class="btn-text-danger">
      Cerrar sesión
    </button>
  </div> -->
</nav>