<nav class="top-navbar">
  <div class="nav-brand">
    <span class="brand-logo">📦</span>
    <span class="brand-text">ALLSY</span>
  </div>

  <!-- <div class="nav-actions">
    <button routerLink="/new" class="btn-primary-sm">
      + Nuevo Producto
    </button>
    <button routerLink="/venta-create" class="btn-outline-sm">
      Registrar venta
    </button>
    
    <div class="divider"></div>
    
    <button (click)="logout()" class="btn-text-danger">
      Cerrar sesión
    </button>
  </div> -->
</nav>